syntax: glob

# Temporary files from editors:
*~
.\#*
\#*\#
.*.swp
*.bak

# Output from tests:
tests/build.status
tests/run.status
tests/*/*.errors
tests/*/*.output

# Generated test executables:

# Test output to clean up:

# Output from source text metric analysis:
obj/*.ad[sb].metrix

# Output from ASIS based tools:
*.adt

# Generated source files:
src/ada_2012_examples-demo.adb
src/ada_2012_examples-mercurial.ads
src/ada_2012_examples.ads

# Generated object files:
obj/*.ali
obj/*.o
obj/*.dg

# Generated executables:
bin/ada_2012_examples-demo
bin/case_coverage
bin/chained_calls
bin/primes
bin/subtypes_of_dimensioned_types
bin/use_power_of_2

